{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <b class="navbar-brand" style = "color:#efeff3; margin-left: 10px; margin-right: 1100px; text-align: center;">Selamat Datang, </b>
        <b class="navbar-brand" style = "color:#efeff3; margin-left: 10px; margin-right: 1100px; text-align: center;">{{user}} </b>
        <button type="button" class="btn btn-light" style="color: #efeff3;"><a href="{% url 'todolist:logout' %}">Logout</a></button>
    </div>
</nav>
<h1>Assignment 4 PBP/PBD</h1>

<h5>Name: </h5>
<b>{{user.username}}</b>

{% for item in list_item %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.date}}</p>
      <p class="card-text">{{item.description}}</p>
      {% if item.is_finished == True %}
        <p class="card-text">Selesai</p>
    {% else %}
        <p class="card-text">Belum Selesai</p>
    {% endif %}
    <button><a href="{% url 'todolist:delete_task' item.id %}">Tombol Delete</a></button>
    </div>
  </div>
{% endfor %}


<button><a href="{% url 'todolist:create_task' %}">CreateTask</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
{% endblock content %}